.service {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px;
  box-sizing: border-box;
}

.serviceContent {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 600px;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.serviceTitle {
  font-family: "Italiana", serif;
  font-size: 60px;
  font-weight: 600;
  color: #4f3624;
  margin-bottom: 40px;
  text-align: left;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .service {
    flex-direction: column;
    padding: 50px;
    gap: 40px;
  }

  .serviceTitle {
    text-align: center;
    font-size: 40px;
  }

  .serviceImg {
    display: none;
  }
}

@media (max-width: 600px) {
  .servici {
    padding: 40px 25px;
  }

  .serviceTitle {
    font-size: 40px;
  }
}
