.title {
  font-family: "Italiana", sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: 300;
  margin: 0 auto;
  padding: 50px 0;
  line-height: 1.6;
}

.titleBrown {
  color: #4f3624;
}

.titleWhite {
  color: #fff;
}

@media (max-width: 544px) {
  .title {
    font-size: 40px;
  }
}
