.bride {
  width: 100vw;
  padding: 100px;
  margin: 0;
  background-image: url("/images/plano2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brideContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.brideTitle {
  font-family: "Italiana";
  font-size: 60px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.brideParagraph {
  color: #fff;
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 1529px) {
  .bride {
    padding: 100px 250px 250px;
  }
}

@media (max-width: 768px) {
  .bride {
    flex-direction: column;
    padding: 0 50px 150px;
  }

  .brideTitle {
    font-size: 40px;
    margin-top: 50px;
  }

  .brideParagraph {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .bride {
    padding-bottom: 150px;
  }
}
