.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.serviceBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 40px;
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}

.serviceBrown {
  background-color: #4f3624;
  color: #fff;
}

.reverse {
  flex-direction: row-reverse;
}

.serviceWhite {
  background-color: #f7f7f7;
  color: #4f3624;
}

.serviceContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1100px;
  width: 100%;
  align-items: center;
  animation: fadeIn 1.2s ease;
}

.reverse .serviceContent {
  direction: rtl;
}

.reverse .serviceContent > * {
  direction: ltr;
}
.noImage {
  grid-template-columns: 1fr;
  text-align: center;
}

.serviceButton {
  margin-top: 50px;
}

.service__title {
  font-family: "Italiana", serif;
  font-size: 58px;
  font-weight: 200;
  line-height: 1.1;
  color: inherit;
  transition: color 0.3s ease;
}

.service__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.6;
  color: inherit;
  transition: color 0.3s ease;
}

.bride__button {
  background-color: #4f3624;
  color: #fff;
  border: none;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 8px;
  font-family: "Montserrat";
  transition: all 0.3s ease;
  align-self: start;
}

.service__white .bride__button {
  background-color: #4f3624;
}

.bride__button:hover {
  background-color: #a37d5a;
  transform: translateY(-2px);
}

.title__brown {
  color: #4f3624;
}

.imageWrapper {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: -150px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .serviceBlock {
    padding-top: 150px;
  }

  .serviceContent {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    margin-top: -150px;
  }

  .service__title {
    font-size: 42px;
    text-align: center;
  }

  .service__text {
    font-size: 15px;
    text-align: center;
  }

  .bride__button {
    align-self: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .service__title {
    font-size: 36px;
  }

  .service__text {
    font-size: 14px;
  }
}
