.makeup {
  background-color: #a37d5a;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.makeup__img {
  width: auto;
  max-width: 50vw;
}

.makeup__self {
  padding: 100px;
  text-align: center;
  justify-content: center;
}

.hr {
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.2),
    transparent
  );
  margin: 2.5rem 0;
}

@media (max-width: 1304px) {
  .makeup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .makeup__img {
    max-width: 450px;
  }
  .makeup__self {
    padding: 50px;
  }
}
