.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  gap: 30px;
  transition: all 0.5s ease-in-out;
}

.connect__title {
  color: #4f3624;
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 20px;
  font-family: "Italiana", serif;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.4s ease;
}

.connect__content {
  padding-bottom: 50px;
  text-align: center;
  max-width: 700px;
  line-height: 1.6;
  color: #4f3624;
  transition: all 0.4s ease;
}

.connect__paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 1.8;
  color: #4f3624;
  margin: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.connect__paragraph:hover {
  text-decoration: underline;
  color: #a37d5a;
  transform: scale(1.05);
  font-weight: 600;
}

/* Responsivo */
@media (max-width: 1024px) {
  .connect__title {
    font-size: 45px;
  }
  .connect__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .connect {
    padding: 70px 15px;
  }
  .connect__title {
    font-size: 35px;
  }
  .connect__paragraph {
    font-size: 15px;
  }
}
