.button {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  margin-top: 50px;
  text-align: center;
}

.buttonBrown {
  background-color: #4f3624;
  color: #fff;
}

.buttonWhite {
  background-color: #a37d5a;
  color: #fff;
}
