.about {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 165px;
  flex-wrap: wrap;
}

.about__elisley {
  font-size: 60px;
  color: #4f3624;
  font-weight: 300;
  line-height: 1.1;
}

.about__img {
  max-width: 400px;
  width: 100%;
  height: auto;
  box-shadow: 45px -45px #a37d5a;
}

.about__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  color: #4f3624;
  margin-bottom: 20px;
}

.about__text {
  max-width: 500px;
  font-weight: 200;
}

.about__elisley {
  font-family: "Italiana", sans-serif;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 50px;
}

.about__signature {
  width: auto;
  height: auto;
}

/* Responsividade */
@media (max-width: 1024px) {
  /* .about {
    padding: 50px 20px 0 20px;
  } */

  .about__content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .about__elisley {
    font-size: 50px;
    width: 100%;
    max-width: 350px;
    text-align: center;
  }

  .about__img {
    box-shadow: 60px -60px #a37d5a;
  }

  .about__text {
    max-width: 400px;
  }
}

@media (max-width: 544px) {
  .about__paragraph {
    font-size: 14px;
    padding: 0 20px;
    line-height: 1.4;
  }

  .about__elisley {
    font-size: 40px;
  }

  .about__img {
    max-width: 300px;
    box-shadow: 40px -40px #a37d5a;
  }
}
