.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accordion {
  animation: flipdown 0.5s ease-in-out;
}

.accordionHeader {
  padding: 15px 0;
  cursor: pointer;
  font-family: "Montserrat";
  color: #4f3624;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #4f3624;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 16px;
  transition: color 0.3s ease;
}

.accordionHeader:hover {
  color: #a37d5a;
}

.accordionContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-family: "Montserrat";
  text-align: start;
  color: #4f3624;
  line-height: 1.5;
  transition: all 0.5s ease;
}

.accordionContent.active {
  max-height: 300px;
  opacity: 1;
  margin-top: 15px;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
