.feedback {
  background-color: #a37d5a;
  display: flex;
  justify-content: center;
  padding: 100px;
  box-sizing: border-box;
  width: 100%;
}

/* Conteúdo principal */
.feedback__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  width: 100%;
}

/* Título */
.feedback__title {
  font-size: 60px;
  color: #fff;
  font-family: "Italiana", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

/* Parágrafo */
.feedback__paragraph {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 20px;
}

/* Responsivo */
@media (max-width: 1024px) {
  .feedback {
    padding: 50px;
  }

  .feedback__title {
    font-size: 40px;
    margin: 0;
  }

  .feedback-space {
    padding-bottom: 150px;
  }

  .feedback__content {
    flex-direction: column;
    margin: 0;
  }

  .feedback__paragraph {
    font-size: 14px;
  }
}
